<html>
<head>
    <title>Faik - Tutorial</title>
</head>
    <style>
        td{
            border-left: 5px solid black;
            border-right: 5px solid black;
            margin: 0px;       
            padding: 0px;
        }
        table{
            border-collapse: collapse;
        }
        hr{
            border: 10px solid rgb(223, 167, 12);
        }
        body{
            margin: 0;
        }
        .bgimg {
            background-image: url('Images/ai.jpg');
        }
        span.align-right { 
            text-align:right; 
        }
    </style>
    <body bgcolor="orange">
        <div style="background-color: white; border-bottom: 1px solid white;" class="bgimg">
            <img style="height: 200px; width: 300px;" src= "Images/logo.jpeg">
        </div>
        <div style="background-color: white;">
            <marquee 
            style="color:white; border-bottom: 2px solid white; border-top:1px solid white; height: 36px;" 
            direction = "left"
            behavior = "scroll"
            bgcolor = "black"
            >
            <font size=6> Follow our Step By Step Guide!</font>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <font size=6> Follow our Step By Step Guide!</font>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <font size=6> Follow our Step By Step Guide!</font>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <font size=6> Follow our Step By Step Guide!</font>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <font size=6> Follow our Step By Step Guide!</font>
            </marquee>
        </div></br>        
        <table align="center" cellspacing="0">
            <tr>
                <td style="background-color:white; border-top: 5px solid black; border-bottom: 5px solid black;">
                    </br>
                    <span>
                        &nbsp;&nbsp;&nbsp;&nbsp;<a href="/">Home</a>
                    </span>
                    <span class="align-right">
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        &emsp;&emsp;<a href="/Faik2D" >2D Website</a>
                    </span>
                    </br>
                    <center><font><h1>Step 1</h1></font></center>
                    <center><img height="500" src= "Info/S1.png"></center>
                    </br></br>
                        <center><font size="4"> <strong>Description:</strong> Click the file upload icon under the "Designer" section to launch the file explorer.</font></center>
                    </br>
                </td>
            </tr>
            <tr>
                <td>
                    <img height=300 width=1200 src="Images/ai2.jpg" alt="">
                </td>
            </tr>
            <tr>
                <td style="background-color:white; border-top: 5px solid black; border-bottom: 5px solid black;">
                    </br><center><font><h1>Step 2</h1></font></center>
                    <center><img height="500" src= "Info/S2.png"></center>
                    </br></br>
                    <center><font size="4"><strong>Description:</strong> Once the file explorer is launched, navigate to a local repository where images are stored, then select "open" for images to appear on the main screen.</font></center>
                    </br>
                </td>'
            </tr>
            <tr>
                <td>
                    <img height=300 width=1200 src="Images/ai2.jpg" alt="">
                </td>
            </tr>
            <tr>
                <td style="background-color:white; border-top: 5px solid black; border-bottom: 5px solid black;">
                    </br><center><font><h1>Step 3</h1></font></center>
                    <center><img height="500" src="Info/S3.gif"></center>
                    </br></br>
                    <center><font size="4"><strong>Description:</strong> Start creating your design by dragging the imported image anywhere on the t-shirt. 
                    </br></br>        
                    <strong>NOTE:</strong> Rotation is added by clicking on the image. Stop when you have the desired degree.</font>
                    </center>
                    </br>
                </td>
            </tr>
            <tr>
                <td>
                    <img height=300 width=1200 src="Images/ai2.jpg" alt="">
                </td>
            </tr>
            <tr>
                <td style="background-color:white; border-top: 5px solid black; border-bottom: 5px solid black;">
                    </br><center><font><h1>Step 4</h1></font></center>
                    <center><img height="500" src="Info/S4.gif"></center>
                    </br></br>
                    <center><font size="4"><strong>Description:</strong> Under the "Designer" section you can resize the image by clicking the increase height/weight and decrease height/weight buttons respectively.</center>
                    </br>
                </td>
            </tr>
            <tr>
                <td>
                    <img height=300 width=1200 src="Images/ai2.jpg" alt="">
                </td>
            </tr>
            <tr>
                <td style="background-color:white; border-top: 5px solid black; border-bottom: 5px solid black;">
                    </br><center><font><h1>Step 5</h1></font></center>
                    <center><img height="500" src="Info/S5.png"></center>
                    </br></br>
                    <center><font size="4"><strong>Description:</strong> Under the "Designer" section, select the color box to bring up the color window. </br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Choose any color you would like and select "ok" to apply it to the t-shirt.</center>
                    </br>
                </td>
            </tr>
            <tr>
                <td>
                    <img height=300 width=1200 src="Images/ai2.jpg" alt="">
                </td>
            </tr>
        </table>
    </body>
</html>