<!DOCTYPE html>
<html> 
    <meta charset="UTF-8">
    <head>
    </head>
    <title> Senior Project </title>

    <style>
        body{
            background-color: orange;
            margin: 0;
        }
        input{
            width: 30%;
        }
        #default{
            visibility: visible;
            width: 100%;
        }
        #validate{
            height: 42px;
            width: 200px;
        }
        #logo{
            height: 200px;
            width: 300px;
            visibility: visible;
            display: block;
        }
        .bgimg {
            background-image: url('Images/ai.jpg');
        }
        .button{
            background-color: white;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border: 2px solid white;
        }
        .button:hover {
            background-color: black;
            color: white;
        }
        .button2{
            background-color: white;
            color: black;
            padding: 5px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            cursor: pointer;
            border: 2px solid white;
        }
        .button2:hover {
            background-color: black;
            color: white;
        }
        .positionImg{
            position:absolute;
            top: 493px;
            left: 651px;
        }
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: white;
            color: black;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;

            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
    </style>
        
    <body>
        <table align=center cellspacing="0">
            <tr>
                <td bgcolor=black colspan="2">
                    <center>
                    <% if(validation == 'null'){ %> 
                        <img style="visibility: visible;" id=validate src="Images/blank.PNG">
                    <% } %>
                    <% if(validation == 'false'){ %> 
                        <img style="visibility: visible;" id=validate src="Images/failed.PNG">
                    <% } %>
                    <% if(validation == 'true'){ %>
                        <img style="visibility: visible;" id=validate src="Images/approved.png">
                    <% } %>
                    <center>
                </td>
            </tr>
            <tr>
                <td id=changeColor bgcolor="black" width=500>
                    <div id="addImages">
                        <img id=default src="Images/shirt.png">
                    </div>
                </td>
                <td bgcolor="black" style="padding-right: 40px; padding-left: 40px">
                    
                    <center><font size="8"color=white>Designer</font></br></br></br>
                    <font size="5"color=white>Upload Image: </font></br></br>
                    
                    <label for="files" class="btn"><img id=img style="visibility: visible;" src="Images/upload.png" height="40" width="40"></label></br>

                    <input id="files" style="visibility:hidden;" accept="image/*" name="image" onclick="this.value=null" onchange="loadFile(event)" type="file"></br>
                    
                    <font size="5"color=white>Resize Image:</font></br></br>
                    <button type="button" class=button2 onclick="addHeight()">Increase Height</button></br></br>
                    <button type="button" class=button2 onclick="decreaseWidth()">Decrease Width</button>
                    <button type="button" class=button2 onclick="addWidth()">Increase Width</button></br></br>
                    <button type="button" class=button2 onclick="decreaseHeight()">Decrease Height</button></br>
                    </br></br>
                    <font size="5"color=white>Choose Color:</font></br></br></br>
                        <input type="color" id="color" value="#317FFF"></br>
                        <input style="visibility: hidden;" type="text" id="hex"></center>
                </td>
            </tr>
            <tr>
                <td bgcolor="black" style="padding-top: 10px" colspan="2">
                    <center>
                        <form method="POST" action="/">
                        <font size="5"color=white>Choose AI Software:</font>
                        <select name="selection" style="padding: 6px;" id="chooseSoftwareAI">
                            <option value="LP" name="lp">License Plate Detection</option>
                            <option value="FaceRecog" name="Face">Facial Recognition</option>
                        </select>
                            <div class="tooltip">
                                <span style="color:white; margin-left: 15px; border: 2px solid white; padding: 5px 5px">Validate</span>
                                <span class="tooltiptext">Validation is currently unavailable</span>
                            </div>
                            <!-- <button type="submit" class="button" style="padding: 6px;" >Validate</button> -->
                        </form>
                    </center>
                </td>
            </tr>
        </table>
    </body>
    <script type="text/javascript">

//*********************************
//Code: Changing color on Image
//*********************************
        var changeColor = document.getElementById("changeColor");
        let selectedColor = document.querySelector('#color');
        let selectedHexValue = document.querySelector('#hex');
        selectedColor.addEventListener('input',() =>{
            let color = selectedColor.value;
            selectedHexValue = color;
            changeColor.style.backgroundColor = color;
        });

//**********************************************
//Code: Uploading Images and enabling movement
//**********************************************
        var count = -1;
        var angle = 0;

        var loadFile = function(event) {
            
            count++;
            var addImage = document.getElementById("addImages");
            var images = new Image();   
            var newImg = document.createElement("img");

            for(var i = 0; i <= count; i++){

                newImg.setAttribute('id', 'custom' + count.toString());
                newImg.setAttribute('class', 'positionImg');
                newImg.setAttribute('style', 'visibility: visible;');
                newImg.setAttribute('height', '50');
                newImg.setAttribute('width', '100');
                newImg.setAttribute('onclick', 'rotateImage()');
                newImg.setAttribute('ondragstart', 'return false;')
                
                addImage.appendChild(newImg);
                
                images = document.getElementById("custom" + count.toString());      
                images.src = URL.createObjectURL(event.target.files[i]);
                let gMouseDownX = 0;
                let gMouseDownY = 0;
                let gMouseDownOffsetX = 0;
                let gMouseDownOffsetY = 0;

                function addListeners() {
                    document.getElementById("custom" + count.toString()).addEventListener('mousedown', mouseDown, false);
                    window.addEventListener('mouseup', mouseUp, false);
                }

                function mouseUp() {
                    window.removeEventListener('mousemove', divMove, true);
                }

                function mouseDown(e) {
                    gMouseDownX = e.clientX;
                    gMouseDownY = e.clientY;

                    var div = document.getElementById("custom" + count.toString());

                    let leftPart = "65";
                    if(!div.style.left)
                        leftPart+="0px";
                    else
                        leftPart = div.style.left;
                    let leftPos = leftPart.indexOf("px");
                    let leftNumString = leftPart.slice(0, leftPos);// Get the X value of the object.
                    gMouseDownOffsetX = gMouseDownX - parseInt(leftNumString,10);

                    let topPart = "49";
                    if(!div.style.top)
                        topPart+="0px";
                    else
                        topPart = div.style.top;
                    let topPos = topPart.indexOf("px");
                    let topNumString = topPart.slice(0, topPos);// Get the Y value of the object.
                    gMouseDownOffsetY = gMouseDownY - parseInt(topNumString,10);

                    window.addEventListener('mousemove', divMove, true);
                }

                function divMove(e){
                    var div = document.getElementById("custom" + count.toString());
                    div.style.position = 'absolute';
                    let topAmount = e.clientY - gMouseDownOffsetY;
                    div.style.top = topAmount + 'px';
                    let leftAmount = e.clientX - gMouseDownOffsetX;
                    div.style.left = leftAmount + 'px';
                }
                addListeners();
            }
        };

//*********************************
//Code: Rotating Image
//*********************************
        function rotateImage(){
            var rotateImage = document.getElementById("custom" + count.toString());
            if(angle >= 0){
                angle = angle + 30;
                rotateImage.style.transform = 'rotate' + '(' + angle.toString() + 'deg)';
            }
        }

//*********************************
//Code: Increasing Width to Image
//*********************************
        function addWidth(){
            var image = document.getElementById("custom" + count.toString());
            var addWidthToImage = document.getElementById("custom" + count.toString()).width;
            addWidthToImage += 5;
            image.width = addWidthToImage;
            addWidthToImage.width = 'width' + image.width.toString();

        }

//*********************************
//Code: Decreasing Width to Image
//*********************************
        function decreaseWidth(){
            var image = document.getElementById("custom" + count.toString());
            var addWidthToImage = document.getElementById("custom" + count.toString()).width;
            addWidthToImage -= 5;
            image.width = addWidthToImage;
            addWidthToImage.width = 'width' + image.width.toString();

        }

//*********************************
//Code: Increasing Height to Image
//*********************************
        function addHeight(){
            var image = document.getElementById("custom" + count.toString());
            var addHeightToImage = document.getElementById("custom" + count.toString()).height;
            addHeightToImage += 5;
            image.height = addHeightToImage;
            addHeightToImage.width = 'height' + image.height.toString();

        }

//*********************************
//Code: Decreasing Height to Image
//*********************************
    function decreaseHeight(){  
            var image = document.getElementById("custom" + count.toString());
            var addHeightToImage = document.getElementById("custom" + count.toString()).height;
            addHeightToImage -= 5;
            image.height = addHeightToImage;
            addHeightToImage.width = 'height' + image.height.toString();

        }
    </script>
</html>